@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><input id="txtInput" type="number" /></p>
    <p><button id="btnEvaluate">Is it square?</button></p>
    <p><label id="lblResult" style="display: none;"></label></p>
</div>
